@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 50px 0;
}
.box {
  height: 300px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto 50px;
  background-color: #eee;
}

/*****************************************************************************/

.menu-trigger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.menu-trigger span {
  position: absolute;
  width: 30px;
  height: 4px;
  background: #666;
}
.menu-trigger span:nth-child(1) {
  top: 0
}
.menu-trigger span:nth-child(2) {
  top: 10px
}
.menu-trigger span:nth-child(3) {
  top: 20px
}
#menu {
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100%;
  color: #fff;
  background:#333;
  transition: transform 0.3s;
}
#menu li{
  color: white;
  text-align: center;
  margin: 15px;
  list-style:none
}
#menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/*****************************************************************************/

.open span {
  background: #fff
}
.active {
  transform: translate3d(-200px,0,0);
}
